<ion-header *ngIf="user$ | async as user">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button (click)="onActionSheet()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Código de acceso
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onLogs( user.uid )">
        <ion-icon slot="icon-only" name="list-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="user$ | async as user">

  <h3 class="all-black page-title">Código de acceso</h3>
  
  <div class="container" *ngIf="codeReceived == true">
    
      <ngx-qrcode class="qrcode"
        value = "{{ qrData }}"
        qrc-errorCorrectionLevel = "L">
      </ngx-qrcode>

  </div>

  <div *ngIf="codeReceived == false">
    
    <ion-button (click)="getQrCode( user.uid )" expand="block" color="danger">
      Obtener código
    </ion-button>

</div>

  <h3 class="all-black page-subtitle">Éste es tu código de acceso personal al edificio.</h3>
  <h3 class="all-black page-subtitle">Acércate al lector, espera a que se tome la foto y podrás entrar.</h3>
  <h3 class="all-black page-subtitle">Recuerda que es indispensable que cuentes con cubrebocas para el ingreso.</h3>

</ion-content>
