<ion-header>
  <ion-toolbar>
    <ion-title>Regístrate!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>

    <ion-list>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>

    </ion-list>

  </form>

</ion-content>
