<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button mode="ios" defaultHref="/login"></ion-back-button>
    </ion-buttons>

    <ion-title>Correo de recuperación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text color="dark" class="centered ion-margin">
    <h1>Recupera tu contraseña</h1>
  </ion-text>

  <ion-text color="medium" class="centered ion-margin">
    <h5>Si el correo que proporciona es válido recibirá un link para recuperar su contraseña de manera fácil y rápida.</h5>
  </ion-text>

  <form>

    <ion-list class="ion-margin">

      <ion-item lines="full" class="ion-margin">
        <ion-icon slot="start" name="mail-outline" color="primary"></ion-icon>
        <ion-input type="email" #email placeholder="Correo electrónico" required></ion-input>
      </ion-item>

    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onPassword(email)" expand="block">
          Envíar correo
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
