<ion-header>
  <ion-toolbar>
    <ion-title>Correo de recuperación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>

    <ion-list>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" #email required></ion-input>
      </ion-item>

    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onPassword(email)" expand="block">
          Envíar correo
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
